@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b;
    color: #e4e4e7;
  }
  ::selection {
    background-color: #ffffff;
    color: #000000;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #27272a;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f46;
  }
}
